{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<header>
    <a href="/{{ SITEURL }}">home</a>
</header>
<div class="row">
 <div class="col-md-8">
  <h1>{{ article.title }}</h1>
  <label>Posted on <strong>{{ article.date|strftime('%d %B %Y') }}</strong></label>
  {{ article.content }}
 </div>
</div>
<footer>
    <a href="/{{ SITEURL }}">home</a>
    <br><br>
    <script async defer src="https://www.recurse-scout.com/loader.js?t=1edc1771a358f1a5944eeaa441cadbdb"></script>
    <div class="rc-scout"></div>
</footer>
{% endblock %}
