{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="row">
 <div class="col-md-8">
  <h1>{{ SITENAME }}</h1>
  <p>Contact: <a href="mailto:pstefek.dev@gmail.com">pstefek.dev@gmail.com</a></p>
  {% for article in articles %}
   <h2><a href="/{{ article.slug }}.html">{{ article.title }}</a></h2>
   <label>Posted on <strong>{{ article.date|strftime('%d %B %Y') }}</strong></label>
   {{ article.summary }}
  {% else %}
   No posts yet!
  {% endfor %}
 </div>
</div>
{% endblock %}
