body {
    font-family: "Avant Garde", serif;
    font-size: 130%;
    line-height: 135%;
    background-color: white;
    color: #111;
    width: 85%;
    min-width: 400px;
    min-height: 200px;
    padding: 1em;
    margin: 5% auto;
    border: thin solid gray;
    border-radius: 5px;
    display: block;
    align-self: center;
}

img{
    width:100%;
    max-width:600px;
    max-height: 400px;
    width: auto;
    height: auto;
}
